.opening-shop-succeed {
  background-color: #FFD900;
  width: 100%;
  .qr-code {
    width: 46%;
    margin-top: 25%;
    margin-left: 27%;
    margin-bottom: 26%;
  }
  > .qr-code-bg-v3 {
    background-image: url('//img.xiaolumeimei.com/mall/mama/open/success/v3/v3.jpg');
    width: 80%;
    margin: 16px 10% 16px 10%;
    background-size: 100% 100%;
  }
  > .qr-code-bg-v4 {
    background-image: url('//img.xiaolumeimei.com/mall/mama/open/success/v4/v4.jpg');
    width: 80%;
    margin: 16px 10% 16px 10%;
    background-size: 100% 100%;
    > div {
      .referal-mama-avatar {
        width: 32px;
        border-radius: 16px 16px;
        margin-bottom: 10%;
      }
    }
  }
}
