.complaint-container {
  > textarea {
    width: 100%;
    min-height: 200px;
    font-size: 13px;
    padding: 8px;
    resize: none;
  }
  > p {
    background-color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
  }
}
