.boutique-invite {
  .invite-imgs {
    .coupon-img {
      width: 100%;
      clear: both; 
      display: block;
      margin: auto;
    }
  }

  .shop-cart {
    > div {
      position: relative;
      height: 36px;
      width: 36px;
      // background-color: #4a4a4a;
      border: 1px solid #faaa14;
      border-radius: 40px;
      padding: 2px;
      text-align: center;
      color: transparent;
      > i {
        font-size: 24px;
      }
      > .shop-cart-badge {
        position: absolute;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        top: -5px;
        left: 26px;
        height: 20px;
        width: 20px;
        color: #fff;
        border-radius: 16px;
        background-color: #FF3840;
      }
    }
    &:hover,
    :active,
    :focus,
    :visited {
      color: transparent;
      text-decoration: none !important;
    }
  }
}
