.refunds {
  .refunds-details-list {
    > li {
      display: block;
      width: 100%;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: #fff;
    }
    img {
      border: 1px solid #979797;
      border-radius: 5px;
    }
  }
  .refunds-created {
    background-color: #f3f3f4;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
