.refunds {
  .refund-status-list {
    overflow-x: scroll;
    padding: 16px;
    > table {
      overflow-x: auto;
      > thead {
        > tr > th {
          border-bottom: none;
          min-width: 80px;
        }
      }
    }
  }
  .refunds-details-list {
    > li {
      display: block;
      width: 100%;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: #fff;
    }
    img {
      border: 1px solid #9B9B9B;
      border-radius: 5px;
      height: 70px;
      width: 70px;
    }
  }
  .refunds-created {
    background-color: #f3f3f4;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
