.complaint-container {
  > .complaint-type {
    background-color: #fff;
  }
  > textarea {
    width: 100%;
    min-height: 200px;
    font-size: 13px;
    padding: 8px;
    resize: none;
    border: none;
  }
  > .text-range {
    background-color: #fff;
    height: 32px;
    line-height: 18px;
    font-size: 13px;
  }
}
