.cashout-container {
  
  .cash {
    background-color: #fff;
    padding-left: 8px;
    padding-top:8px;
    .cash-input {
      border:none;
    }
  }  

  .cash-nick {
    background-color: #fff;
    padding-left: 8px;
    padding-top: 8px;
    margin-top: 20px;
  }

  .cash-message {
    padding: 8px 16px 0 16px;
  }

}
