.activity-exam-question {
  height: 100%;
  background: url("http://7xogkj.com1.z0.glb.clouddn.com/mall/activity/exam/question/yellow-bg.png?imageMogr2/strip/format/jpg/quality/100/interlace/1/") repeat center center;
  background-size: contain;
  > .previous-btn {
    width: 26%;
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  > .next-btn {
    width: 26%;
    position: absolute;
    bottom: 0;
    right: 16px;
  }
  > .question-header {
    position: relative;
    > .exit-btn {
      position: absolute;
      top: 8px;
      left: 8px;
      height: 16%;
      width: auto;
      z-index: 11;
    }
    > .header-text {
      position: absolute;
      top: 22%;
      left: 16%;
      width: 70%;
    }
    >img {
      width: 100%;
    }
  }
  > .question-body {
    color: #000;
    text-align: center;
    margin: 0px 16px;
    .option {
      margin: 16px auto 0px auto;
      height: 80px;
      min-width: 288px;
      max-width: 343px;
      background: url("http://7xogkj.com1.z0.glb.clouddn.com/mall/activity/exam/item-bg.png?imageMogr2/strip/format/jpg/quality/100/interlace/1/") no-repeat center center;
      background-size: contain;
      &.active {
        > .left {
          background: url("http://7xogkj.com1.z0.glb.clouddn.com/mall/activity/exam/question/checked.png") no-repeat center center;
          background-size: contain;
        }
        > .center {
          background: url("http://7xogkj.com1.z0.glb.clouddn.com/mall/activity/exam/question/checked.png") no-repeat center center;
          background-size: contain;
        }
      }
      > p {
        margin: 10px 0px;
        height: 60px;
      }
      > .left {
        line-height: 60px;
        font-size: 22px;
        font-weight: 600;
        border-right: dashed 2px #000;
      }
      > .right {
        padding: 10px;
      }
      > .center {
        line-height: 60px;
      }
    }
  }
  .font-36 {
    font-size: 36;
  }
  .font-24 {
    font-size: 24;
  }
  .font-red {
    color: #F74964;
  }
  .popup > .popup-content {
    top: 0;
    bottom: 30%;
    background-color: transparent;
    padding: 0px;
    background: url("http://7xogkj.com1.z0.glb.clouddn.com/mall/activity/exam/question/popup-red-bg.png") no-repeat;
    background-size: contain;
    > img {
      margin-top: 30%;
    }
    .exam-btn-group {
      position: absolute;
      bottom: 20%;
    }
  }
}
