.loading-spinner {
  position: fixed;
  left: 40%;
  top: 50%;
  z-index: 13;
  transition: .2s opacity linear;
  opacity: 1;
  .spinner {
    padding: 10px;
    height: 60px;
    width: 60px;
    border-radius: 4px;
    background-color: rgba(38, 38, 46, 0.8);
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
  }
}
