.makemoney-container {
	height: 200px;
	.carryout {
		.week-carryout {
			padding-top: 40px;
			> p {
				font-size: 1.5em;
			}
		}
	}
	.cat4 {

		.makemoney-cat {

			padding-top: 8px;
			height: 32px;
			font-size: 0.75em;
		}
	}
}