@import "../../../constants/common.scss";
.makemoney-container {
	height: 200px;
	background-color: #fff;
	.carryout {
		.week-carryout {
			padding-top: 40px;
			> p {
				font-size: 1.5em;
			}
		}
	}
	.cat4 {

		.makemoney-cat {
			border: 1px solid $gray-color;
			padding-top: 8px;
			height: 56px;
			font-size: 0.75em;
			>p {
				padding-top: 4px;
			}
			.mama-shop-icon{
				background: url('./images/mamaeryaoqingColor.png') center center no-repeat;
				background-size: 100%;
				width: 24px;
				height: 24px;
				border: none;
				margin-left: auto;
				margin-right: auto;
			}
			.mama-push-icon{
				background: url('./images/EverydayPushNormalColor.png') center center no-repeat;
				background-size: 100%;
				width: 24px;
				height: 24px;
				border: none;
				margin-left: auto;
				margin-right: auto;
			}
			.mama-select-icon{
				background: url('./images/selectionShopNormalColor.png') center center no-repeat;
				background-size: 100%;
				width: 24px;
				height: 24px;
				border: none;
				margin-left: auto;
				margin-right: auto;
			}
			.mama-invite-icon{
				background: url('./images/inviteShopNormalColor.png') center center no-repeat;
				background-size: 100%;
				width: 24px;
				height: 24px;
				border: none;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}