.coupons-container {
  > div > p {
    font-size: 13px;
    padding-left: 8px;
    padding-top: 16px;
  }
  .coupon-tabs {
    background-color: #fff;
    &.sticky {
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      z-index: 9;
      &.has-header {
        top: 44px;
      }
    }
    > ul {
      > li {
        &.active {
          color: #faac14;
        }
        > div {
          padding: 8px 0px;
        }
      }
    }
  }
}
