.package-content {
  .express-item {
    padding: 8px;
    background-color: #fff;
  }
  .order-list {
    background: #fff;
    p {
      margin-bottom: 0px;
      padding: 8px;
    }
    img {
      margin: 8px;
      // border: 1px solid #979797;
      border-radius: 10px;
      width: 60px;
      overflow: hidden;
      height: 60px;
    }
  }
}
