.spell-group-progress {
  background-color: #fff;
  .product-info {
    background-color: #fff;
    padding: 8px 16px;
      img {
        // margin: 8px;
        // border: 1px solid #979797;
        border-radius: 10px;
        width: 90%;
        overflow: hidden;
      }

    .product-info-txt {
      padding: 8px;
    }  

  }
  .presenter-list {
    background-color: #fff;
    padding: 8px 16px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }
  .progress-status {
    background-color: #fff;
    padding: 8px 16px;
    text-align: center;
    .left-num {
      color: #F92828; //red
    }
  }
  .join-list {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    background-color: #f3f3f4;
    li {
      padding-bottom: 16px;
      .bg-red {
        background-color: #F92828;
      }
      .bg-grey {
        background-color: #D8D8D8;
      }
      .bg-yellow {
        background-color: #FFBE28;
      }
      .join-item {
        height: 36px;
        border-radius: 18px;
      }
      .join-info {
        font-size: 24px;
        color: #fff;
      }
    }
    img {
      width: 36px;
      height: 36px;
      border-radius: 18px;
    }
  }
  .button-home {
    background:#D8D8D8;
    color:white;
    border:none;
  }
  .button-group {
    background:#F92828;
    color:white;
    border:none;
  }
}
