.spell-group-progress {
  .product-info {
    background-color: #fff;
    padding: 8px;
    p {
      margin-bottom: 0px;
    }
    .team-price {
      font-size: 28px;
      color: #F92828;
    }
  }
  .presenter-list {
  	background-color: #fff;
  	padding-top: 8px;
  	padding-bottom: 8px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }
}
