.user-info-list {
  > li {
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 8px;
    p,
    i {
      margin: 8px 0px;
    }
  }
  .avatar {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 36px;
    width: 36px;
    border: 1px solid #dadada;
    border-radius: 28px;
  }
}
