.user-info-list {
  > li {
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 8px 0px;
    > a,
    a:hover,
    a:active,
    a:focus,
    a:visited {
      color: #26262e;
      text-decoration: none;
    }
    .padding-right-15 {
      padding-right: 15px;
    }
    p,
    i {
      margin: 8px 0px;
      line-height: 26px;
    }
    .icon-angle-right {
      margin-left: 10px !important;
    }
  }
  .avatar {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 36px;
    width: 36px;
    border: 1px solid #dadada;
    border-radius: 36px;
  }
  .img-show {
    line-height: 36px;
    margin: 0;
  }
}
