.activity-top10 {
  .countdown {
    text-align: right;
    padding-left: 4%;
    color: #ff0000;
    font-size: 18;
  }
  .countdown > span {
    text-align: center;
    display: inline-block;
    color: #fff;
    height: 26px;
    width: 26px;
    line-height: 26px;
    padding: 1px;
    background: url("http://7xogkj.com1.z0.glb.clouddn.com/activity/top10/20160515/countdown-bg.png") center center no-repeat;
    background-size: contain;
  }
  .product-list {
    -webkit-padding-start: 0px;
    > li > img {
      width: 100%;
    } 
  }
  .popup > .content {
    position: fixed;
    top: 5%;
    right: 0;
    bottom: 10%;
    left: 0;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    background: transparent;
  }
  .popup > .popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
