.complaint-reply-list {
  > li {
    background-color: #fff;
    .text-range {
      background-color: #fff;
      line-height: 16px;
      word-wrap: break-word;
    }
    img {
      display: block;
      width: 38px;
      height: 38px;
      border: 1px solid #fdcb0e;
      border-radius: 38px;
    }
  }
  .reply-content{
    margin: 8px 16px 16px 16px;
    background-color: #f3f3f4;
  }
}
