.complaint-reply-list {
  > li {
    background-color: #fff;
    .complaint-content {
      min-height: 80px;
      font-size: 13px;
      padding: 8px 8px 8px 8px;
      resize: none;
      border: 1px solid #dadada;
      border-radius: 8px 8px;
      word-wrap: break-word;
    }
    > p {
      background-color: #fff;
      line-height: 16px;
      height: 32px;
      font-size: 13px;
    }
  }
}
