.trade {
  .trade-detail {
    .trade-status-list {
      overflow-x: auto;
      padding: 16px;
      > table {
        overflow-x: auto;
        > thead {
          > tr > th {
            border-bottom: none;
            min-width: 80px;
          }
        }
      }
    }
    color: #626262;
    .trade-status {
      background: #fff;
      padding: 8px 16px;
    }
    .order-createTime {
      padding: 4px 16px 4px;
    }
    .receiver-info {
      background: #fff;
      padding: 8px 0;
    }
    .logistics-info {
      padding: 8px 16px;
    }
    .logistics-company {
      padding: 8px 16px;
      background-color: #fff;
      &.transparent {
        background-color: transparent;
      }
      p {
        margin-bottom: 0px;
      }
    }
    .order-list {
      background: #fff;
      .status {
        padding: 8px;
      }
      img {
        margin: 8px;
        // border: 1px solid #979797;
        border-radius: 10px;
        width: 60px;
        overflow: hidden;
        height: 60px;
      }
    }
    .price-info {
      padding: 4px 16px;
      p {
        margin: 10px 0px;
      }
    }
    .font-yellow {
      color: #f5b123;
    }
    .font-grey {
      color: #9b9b9b;
    }
    a {
      color: #626262;
      &:hover,
      :active,
      :focus,
      :visited {
        color: #626262;
        text-decoration: none !important;
      }
    }
  }
  .countdown {
    > p {
      margin: 0px;
    }
  }
}
