.back-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  .back-top-content {
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 24px;
    background-color: #4a4a4a;
    border: 1px solid #26262e;
    color: #fff;
    text-align: center;
  }
}
