$bar-border: #dadada !default;
.hide {
  display: none;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  content: " ";
  display: table;
  clear: both;
}

.no-margin {
  margin: 0px !important;
}

.bottom-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  &.grey {
    border-bottom-color: #dadada;
  }
}

.padding-right-sm {
  padding-right: 8px;
}

.padding-left-sm {
  padding-left: 8px;
}

.content {
  width: 100%;
  position: absolute;
}

.has-header {
  top: 44px;
}

.font-xxs {
  font-size: 10px;
}
.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 18px;
}

.font-xlg {
  font-size: 20px;
}

.font-grey {
  color: #626262;
}

.font-black {
  color: #26262e;
}

.bottom-border {
  border-bottom: 1px solid $bar-border;
  @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    border: none;
    background-image: linear-gradient(0deg, $bar-border, $bar-border 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
}
