$bar-border: #dadada !default;
$gloabl-bg: #f3f3f4 !default;
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: $gloabl-bg !important;
  overflow-x: hidden;
}

.hide {
  display: none !important;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  content: " ";
  display: table;
  clear: both;
}

.no-margin {
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

.text-underliner {
  text-decoration: underline;
}

.content {
  width: 100%;
  position: absolute;
}

.content-white-bg {
  background-color: #fff;
}

.bottom-border {
  border-bottom: 1px solid $bar-border;
  @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    border: none;
    background-image: linear-gradient(0deg, $bar-border, $bar-border 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
}

.top-border {
  border-top: 1px solid $bar-border;
  @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    border: none;
    background-image: linear-gradient(0deg, $bar-border, $bar-border 50%, transparent 50%);
    background-position: top;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
}

.right-border {
  border-right: 1px solid $bar-border;
  @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    border: none;
    background-image: linear-gradient(0deg, $bar-border, $bar-border 50%, transparent 50%);
    background-position: right;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
}

// font color
.font-grey {
  color: #626262;
}

.font-black {
  color: #26262e;
}

.font-grey-light {
  color: #9B9B9B;
}

.font-orange {
  color: #f5a623;
}

// font size
.font-xxs {
  font-size: 10px;
}

.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 18px;
}

.font-xlg {
  font-size: 20px;
}

// padding right
.padding-right-xxs {
  padding-right: 8px;
}

.padding-right-xs {
  padding-right: 16px;
}

.padding-right-sm {
  padding-right: 32px;
}

.padding-right-md {
  padding-right: 48px;
}

.padding-right-lg {
  padding-right: 64px;
}

// padding left
.padding-left-xxs {
  padding-left: 8px;
}

.padding-left-xs {
  padding-left: 16px;
}

.padding-left-sm {
  padding-left: 32px;
}

.padding-left-md {
  padding-left: 48px;
}

.padding-left-lg {
  padding-left: 64px;
}

// padding top
.padding-top-xxs {
  padding-top: 8px;
}

.padding-top-xs {
  padding-top: 16px;
}

.padding-top-sm {
  padding-top: 32px;
}

.padding-top-md {
  padding-top: 48px;
}

.padding-top-lg {
  padding-top: 64px;
}

// padding bottom
.padding-bottom-xxs {
  padding-bottom: 8px;
}

.padding-bottom-xs {
  padding-bottom: 16px;
}

.padding-bottom-sm {
  padding-bottom: 32px;
}

.padding-bottom-md {
  padding-bottom: 48px;
}

.padding-bottom-lg {
  padding-bottom: 64px;
}

// margin right
.margin-right-xxs {
  margin-right: 8px;
}

.margin-right-xs {
  margin-right: 16px;
}

.margin-right-sm {
  margin-right: 32px;
}

.margin-right-md {
  margin-right: 48px;
}

.margin-right-lg {
  margin-right: 64px;
}

// margin left
.margin-left-xxs {
  margin-left: 8px;
}

.margin-left-xs {
  margin-left: 16px;
}

.margin-left-sm {
  margin-left: 32px;
}

.margin-left-md {
  margin-left: 48px;
}

.margin-left-lg {
  margin-left: 64px;
}

// margin top
.margin-top-xxs {
  margin-top: 8px;
}

.margin-top-xs {
  margin-top: 16px;
}

.margin-top-sm {
  margin-top: 32px;
}

.margin-top-md {
  margin-top: 48px;
}

.margin-top-lg {
  margin-top: 64px;
}

.margin-top-xlg {
  margin-top: 80px;
}

// margin bottom
.margin-bottom-xxs {
  margin-bottom: 8px;
}

.margin-bottom-xs {
  margin-bottom: 16px;
}

.margin-bottom-sm {
  margin-bottom: 32px;
}

.margin-bottom-md {
  margin-bottom: 48px;
}

.margin-bottom-lg {
  margin-bottom: 64px;
}
