.hide {
  display: none;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.copyright {
  font-size: 10px;
}

.bottom-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  &.grey {
    border-bottom-color: #dadada;
  }
}

.padding-right-sm {
  padding-right: 8px;
}

.padding-left-sm {
  padding-left: 8px;
}

.pressed-animation {
  animation:ripple 0.65s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}