.icon-yellow {
  color: #f5a623;
}

.icon-yellow-light {
  color: #faac14
}

.icon-gold {
  color: #fdcb0e;
}

.icon-grey {
  color: #bbb;
}

.icon-balck {
  color: #26262e;
}

.icon-green {
  color: #44ad35;
}

.icon-red {
  color: #ff6d73;
}

.icon-alipay-blue {
  color: #07abff;
}

.icon-wechat-green {
  color: #44ad35;
}
