ol,ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

/**
 * Remove number input’s spin box
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Remove any default :focus styles
 * 5. Make sure webkit font smoothing is being inherited
 * 6. Remove default gradient in Android Firefox / FirefoxOS
 */

button,
input,
select,
textarea {
  margin: 0; /* 3 */
  font-size: 100%; /* 2 */
  font-family: inherit; /* 1 */
  outline-offset: 0; /* 4 */
  outline-style: none; /* 4 */
  outline-width: 0; /* 4 */
  -webkit-font-smoothing: inherit; /* 5 */
  background-image: none; /* 6 */
}
