.teammember-container {

	width: 100%;
	height: 100%;

	.my-level {
		background-color: #fff;
		height: 100px;
		width: 100%;
		.my-thumbnail {
			padding: 16px 16px 16px 16px;
			height: 80px;
			width: 80px;
		}
		.my-mama-id {
			padding-top: 20px;
			font-size: 1em;
		}
		.my-mama-level {
			border: none;
			
			> p {
				font-size: 1em;
				margin-left: 32px;
			}
		}
	}

	.team-members {
		margin-top: 8px;
		background-color: #fff;
		.member-item {
			height: 64px;
			background-color: #fff;

			.member-img-div {
				width: 48px;
				height: 48px;
				margin-top: 8px;
				.member-img {
					width: 48px;
					height: 48px;
				}
			}
			.member-name { 
				margin-top: 16px;
				>span {
					padding-left: 4px;
				}
				>p {
					padding-left: 4px;
				}
			}
			.member-mobile { 
				>p {
				margin-top: 16px;
				padding-top: 8px;
				padding-left: 4px;
				height: 32px;
				}
			}
			.member-score { 
				>p {
				margin-top: 16px;
				padding-top: 8px;
				padding-left: 4px;
				height: 32px;
				}
			}
		}
		.no-team-members {
			padding-left: 32px;
			padding-right: 32px;
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}
}