.activity-mat-success {
  background-image: url('//og224uhh3.qnssl.com/mall/activity/summerMat/v3/success-bg.png');
  background-size: 100% 100%;
  > img {
    width: 40%;
    top: 38%;
    left: 49%;
  }
}
