.activity-mat-success {
  background-image: url('http://7xogkj.com1.z0.glb.clouddn.com/mall/activity/summerMat/v3/success-bg.png');
  background-size: 100% 100%;
  > img {
    width: 40%;
    top: 38%;
    left: 49%;
  }
}
