.coupon-list {
  > li {
    > .coupon_value {
      line-height: 36px;
      color: grey;
      font-size: 30px;
    }
    > .coupon-use-fee-des {
      line-height: 42px;
      font-size: 15px;
      color: grey;
    }
    > .coupon-status {
      line-height: 42px;
      font-size: 15px;
      color: #F05050;
    }
  }
}
