.address-list {
  > li {
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 8px;
    .address-mark {
      border: 1px solid #F5A623;
      color: #F5A623;
    }
    .address-font-color {
      color: #626262;
    }
    .address-text {
      color: #9B9B9B;
    }
    i {
      line-height: 32px;
    }
  }
}
