.boutiquecoupon-container {
	background-color: #fff;
	width: 100%;

	.jump-div {
		height: 80px;
		padding-left: 16px;
		padding-right: 8px;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.tran-coupons {
		margin-top: 8px;
		background-color: #fff;
		.tran-ul {
			.member-item {
				background-color: #fff;
				height: 96px;
				.member-img-div {
					height: 100%;
					.member-img {
						width: 48px;
						height: 48px;
						margin-top: 8px;
						margin-left: 12px;
					}
					.member-num {
						margin-top: 8px;
					}
				}
				.member-detail {
					height: 100%;
					>div {
						height: 33%;
						>p {
							margin-top: 4px;
						}
						.return-btn {
							background-color: #fff;
							height: 24px;
							margin-top: 4px;
						}
					}
				}
			}
		}
		.no-coupon-members {
			padding-left: 32px;
			padding-right: 32px;
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}

	.return-list-tabs {
	    background-color: #fff;
	    &.sticky {
	      position: fixed;
	      top: 0px;
	      left: 0;
	      right: 0;
	      z-index: 9;
	      &.has-header {
	        top: 44px;
	      }
	    }
	    > ul {
      > li {
        &.active {
          color: #faac14;
        }
        > div {
          padding: 8px 0px;
        }
      }
    }
	}
}