// .menu-active {
//   .home-container {
//     left: 284px;
//   }
//   .bar-header {
//     left: 284px;
//   }
// }
.bar-header {
  box-sizing: border-box;
  transition: all 300ms;
}

.homepage-container {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  transition: all 300ms;
  .home-div-toptabs {
    overflow-x: auto;
    background-color: #fff;
    &.sticky {
      position: fixed;
      top: 44px;
      left: 0;
      right: 0;
      z-index: 9;
      &.has-header {
        top: 44px;
      }
    }
    .home-toptabs {
        width: 560px;
        height: 30px;
        list-style: none;
          margin: 0;
        padding: 0;
        .home-toptab {
          position: relative;
          list-style: none;
          min-width: 80px;
          display: inline-block;
            margin: 0;
          padding-top: 4px;
          >p {
            &.active {
              color: #faac14;
            }
          }
        }
    }
  }
  .home-poster {
    img {
      width: 100%
    }
  }
  .focus-container {
    padding: 0 8px;
    .focus-img {
      border-radius: 18px;
      width: 36px;
      overflow: hidden;
      height: 36px;
      margin: 8px 0;
    }
    .open-img {
      width: 22px;
      margin-top: 2px;
    }
    a,
    a:hover,
    a:active,
    a:focus,
    a:visited {
      color: #26262e;
      text-decoration: none;
    }
  }
  .home-categories {
    > ul {
      margin-bottom: 0px;
      background-color: #fff;
      > li > a > img {
        width: 100%;
        background-color: #fff;
      }
      > li {
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .home-activities {
    > ul {
      margin-bottom: 0px;
      background-color: #fff;
      > li > a > img {
        background-color: #fff;
      }
    }
  }
  .countdown {
    margin: 16px 0px;
    font-weight: 500;
  }
  .home-products {
    margin: 0px 4px;
  }
  
}
