// .menu-active {
//   .home-container {
//     left: 284px;
//   }
//   .bar-header {
//     left: 284px;
//   }
// }
.bar-header {
  box-sizing: border-box;
  transition: all 300ms;
}

.home-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 300ms;
  .home-poster {
    img {
      width: 100%
    }
  }
  .home-categories {
    border-bottom: .5px solid #e9e9e9;
    > ul {
      margin-bottom: 0px;
      background-color: #fff;
      > li > a > img {
        width: 100%;
        background-color: #fff;
      }
      > li:nth-child(2n+1) {
        border-right: 0.5px solid #e9e9e9;
      }
    }
  }
  .home-activities {
    border-bottom: 0.5px solid #e9e9e9;
    > ul {
      margin-bottom: 0px;
      background-color: #fff;
      > li > a > img {
        background-color: #fff;
      }
    }
  }
  .countdown {
    margin: 16px 0px;
    font-weight: 500;
  }
  .home-products {
    margin: 0px 4px;
  }
  .home-tabs {
    background-color: #fff;
    &.sticky {
      position: fixed;
      top: 44px;
      left: 0;
      right: 0;
      z-index: 9;
    }
    > ul {
      > li {
        &.active {
          color: #faac14;
        }
        > div {
          padding: 8px 0px;
        }
      }
    }
  }
}

.shop-cart {
  position: fixed;
  left: 8px;
  bottom: 60px;
  height: 48px;
  width: 48px;
  background-color: #4a4a4a;
  border: 1px solid #26262e;
  border-radius: 40px;
  padding: 4px;
  text-align: center;
  color: transparent;
  &:hover,
  :active,
  :focus,
  :visited {
    color: transparent;
    text-decoration: none !important;
  }
}
