span {
  background-color: #fff;
  line-height: 34px;
}

input {
  line-height: 32px !important;
}

.address-default-set {
  height: 34px;
  background-color: #fff;
  padding: 6px;
}

.address-select {
  padding: 8px 0;
  height: 34px;
}

.bg-color-white {
  background-color: #fff;
}

.address-detail {
  background-color: #fff;
  font-size: 12px;
}
select {
	font-size: 12px !important;
	width: 75px;
}
