.adddress-edit {
  > .adddress-item {
    > span,
    div,
    input {
      height: 26px;
      line-height: 26px;
    }
    > div {
      > select {
        font-size: 12px;
      }
    }
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
  }
}
