.product-details {
  .back {
    height: 40px;
    width: 40px;
    padding: 10px;
    position: fixed;
    top: 16px;
    left: 8px;
    background-color: rgba(74, 74, 74, 0.8);
    border-radius: 40px;
    z-index: 9;
    text-align: center;
  }
  .head-image {
    max-width: 100%;
    max-height: 100%;
  }
  .product-info {
    padding: 16px 8px;
    p {
      margin-bottom: 0px;
    }
    .tag {
      margin-left: 8px;
      padding: 0px 2px;
      color: #f5b123;
      border: 1px solid #f5b123;
      border-radius: 4px;
    }
  }
  .on-shelf-countdown {
    padding: 8px;
  }
  .font-32 {
    font-size: 32;
  }
  .bg-white {
    background-color: #fff;
  }
  .product-spec {
    padding: 8px;
  }
  .tabs {
    background-color: #fff;
    color: #9b9b9b;
    &.sticky {
      position: fixed;
      top: 44px;
      left: 0;
      right: 0;
      z-index: 9;
    }
    > ul {
      > li {
        &.active {
          color: #3c3c3c;
        }
        > div {
          padding: 8px;
        }
      }
    }
  }
  .table {
    font-size: 11px;
    background-color: #fff;
    margin-bottom: 8px;
    > thead {
      color: #fff;
      background-color: #9b9b9b;
      > tr > th {
        border-bottom: none;
      }
    }
    > tbody {
      color: #4a4a4a;
    }
  }
  .shop-cart {
    > div {
      height: 36px;
      width: 36px;
      // background-color: #4a4a4a;
      border: 1px solid #faaa14;
      border-radius: 40px;
      padding: 2px;
      text-align: center;
      color: transparent;
      > i {
        font-size: 24px;
      }
    }
    &:hover,
    :active,
    :focus,
    :visited {
      color: transparent;
      text-decoration: none !important;
    }
  }
}

.sku-popup {
  .sku-popup-header {
    padding: 8px 16px;
    > div > p {
      margin-left: 8px;
      margin-bottom: 0px;
      &.product-name {
        height: 44px;
      }
    }
    .font-26 {
      font-size: 26px;
    }
  }
  .sku-list {
    padding: 8px 0px;
    > ul {
      margin-bottom: 0px;
      > li {
        display: inline-block;
        > .sku-item {
          display: inline-block;
          text-align: center;
          width: 55px;
          margin-right: 8px;
          margin-bottom: 8px;
          color: #4a4a4a;
          font-size: 12px;
          padding: 2px;
          border: 1px solid #d8d8d8;
          border-radius: 2px;
          &.active {
            color: #f5b123;
            border: 1px solid #f5b123;
          }
          &.disabled {
            color: #d8d8d8;
            border: 1px solid #d8d8d8;
          }
        }
      }
    }
  }
  .quantity {
    padding: 8px 0px;
    > div,
    p {
      height: 25px;
      margin-bottom: 0px;
      line-height: 25px;
      > span {
        display: inline-block;
        width: 25px;
        height: 25px;
        text-align: center;
        &.minus,
        &.plus {
          font-size: 16px;
          color: #d8d8d8;
          border: 1px solid #d8d8d8;
        }
      }
    }
  }
}
