.product-categories {
  .cat-list {
  	height: 100%;
  	.cat-list-ul {
  		.cat-name {
  			height: 48px;
  			padding-top: 16px;
  			&.active {
	          color: #faac14;
	        }
  		}
  	}
  }
  .cat-pic-list {
    background-color: #fff;
    height: 100%;
    .cat-pic-ul {
	    .cat-pic-p {
         .cat-pic {
          width: 100%;
         }
  	  }
    }
  }
}