.carousel {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  > .carousel-wrap {
    overflow: hidden;
    position: relative;
    > .carousel-item {
      float: left;
      width: 100%;
      position: relative;
    }
  }
}
