$list-border: #dadada !default;
.questions-list {
  li {
    border-radius: 6px;
    background-color: #fff;
    margin: 12px 10px;
    padding: 8px;
    border: 1px solid $list-border;
    p,
    i {
      padding: 8px 0px;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
    }
  }
}

