 .wechat-share-popup {
   > .popup-content {
     position: fixed;
     top: 46px;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 10;
     overflow-x: hidden;
     overflow-y: auto;
     background-color: transparent;
     > img {
       width: 100%;
     }
   }
 }
