.dialog-opened {
  overflow: hidden;
}

.dialog {
  &.dialog-active {}
  > .dialog-content {
    position: absolute;
    top: 30%;
    right: 10%;
    left: 10%;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 12px;
    .dialog-top {
      border-bottom: 1px solid #cbc8c8;
    }
    .btn-cancel {
      border-right: 1px solid #cbc8c8;
    }
  }
  > .dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
