$z-index-bar: 9 !default;
$bar-padding-portrait: 5px !default;
$bar-height: 44px !default;
$bar-border: #dadada !default;
$bar-bg: #fff !default;
.inputheader-bar-wrapper {
  .bar {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    z-index: $z-index-bar;
    padding: $bar-padding-portrait;
    width: 100%;
    height: $bar-height;
    border-width: 0;
    border-style: solid;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $bar-border;
    background-color: $bar-bg;
    /* border-width: 1px will actually create 2 device pixels on retina */
    /* this nifty trick sets an actual 1px border on hi-res displays */
    background-size: 0;
    transform: translateZ(0);
    @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      border: none;
      background-image: linear-gradient(0deg, $bar-border, $bar-border 50%, transparent 50%);
      background-position: bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;
    }
    > .title {
      position: absolute;
      top: 0;
      right: 40px;
      left: 64px;
      z-index: 0;
      overflow: hidden;
      margin: 8px 10px;
      min-width: 30px;
      height: 33px;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 500;
      line-height: 33px;
      border: 1px solid #f5a623;
      vertical-align:middle;
    }
    > .image-title {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 0;
      margin: 0 10px;
      min-width: 30px;
      height: 43px;
      > img {
        margin-top: 10px;
        width: 100px;
      }
    }
    > .icon-btn {
      z-index: 1;
      padding: 0 8px;
      min-width: initial;
      min-height: 31px;
      font-weight: 400;
      font-size: 17px;
      line-height: 32px;
      transition: opacity 0.1s;
      border-color: transparent;
      background: none;
      // cursor: pointer;
      &.no-icon {
        font-size: 14px;
      }
      &:last-child {
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
      }
      &.pressed {
        opacity: .3;
      }
      &:active {
        opacity: .5;
      }
    }
  }
  .bar-header {
    top: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    &.has-tabs-top {
      border-bottom-width: 0px;
      background-image: none;
    }
  }
  .has-header {
    margin-top: 44px;
  }
  &.header-bar-trasparent {
    .bar {
      background-color: transparent;
      background-image: none;
      >.title {
        color: transparent;
      }
      > .icon-btn {
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 40px;
        text-align: center;
      }
    }
    .has-header {
      margin-top: 0px;
    }
  }
}
