.inoutcoupon-list {
  background-color: #fff;
  .elite-score {
    background-color: #fff;
    .elite-score-p {
      padding-top: 4px;
      padding-left: 16px;
    } 
  }

  .return-list-p {
    background-color: #fff;

    .member-item {
      height: 96px;
      background-color: #fff;
      .member-img-div {
        height: 100%;
        .member-img {
          width: 48px;
          height: 48px;
          margin-top: 8px;
          margin-left: 12px;
        }
        .member-num {
          margin-top: 8px;
        }
      }

      .member-detail {
        > div {
          >p {
            height: 24px;
            display:inline-block;
            vertical-align:middle;
            line-height: 24px;
          }
        }
      }
      
    }
  }

  .return-list-tabs {
    background-color: #fff;
    &.sticky {
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      z-index: 9;
      &.has-header {
        top: 44px;
      }
    }
    > ul {
      > li {
        &.active {
          color: #faac14;
        }
        > div {
          padding: 8px 0px;
        }
        > select {
          margin-top: 4px;
          margin-bottom: 4px;
          padding: 4px 4px;
          /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
          border: solid 1px #f5a623;

          /*很关键：将默认的select选择框样式清除*/
          appearance:none;
          -moz-appearance:none;
          -webkit-appearance:none;
          /*在选择框的最右侧中间显示小箭头图片*/
          background: url("http://img.xiaolumeimei.com/mall/mama/return/arrow.png") no-repeat scroll right center transparent;


          /*为下拉小箭头留出一点位置，避免被文字覆盖*/
          padding-right: 14px;
        }
      }
    }
  }

}
