.university-container {
  .activity-container {}
  .course-container {
    > div > img {
      width: 100%;
    }
    .course-tab {
      background-color: #fff;
      &.sticky {
        width: 100%;
        z-index: 10;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        &.has-header {
          top: 44px;
        }
      }
      > ul > li {
        p {
          &.active {
            color: #faac14;
          }
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }
    }
    .course-list {
      li {
        padding-top: 16px;
        padding-bottom: 16px;
        img {
          width: 100px;
          height: 66px;
        }
      }
    }
  }
  >.base-tab {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    > ul >li {
      p {
        &.active {
          color: #faac14;
        }
        padding-top: 16px;
        padding-bottom: 16px;
        > i {
          font-size: 18px;
        }
      }
    }
  }
  a,
  a:hover,
  a:active,
  a:focus,
  a:visited {
    color: #26262e;
    text-decoration: none;
  }
}
