.reseau-circle {
  position: relative;
  text-align: center;
  margin: 0px auto;
  max-width: 50px;
  > i {
    display: inline-block;
    font-size: 3em;
  }
  > .loader-bottom {
    position: absolute;
    right: 30%;
    top: 1%;
  }
  &.reseau-circle-small {
    > i {
      font-size: 2em;
    }
    > .loader-bottom {
      right: 38%;
    }
  }
  &.reseau-circle-large {
    > i {
      font-size: 6em;
    }
    > .loader-bottom {
      right: -15%;
    }
  }
  &.reseau-circle-yellow {
    color: #f5a623;
  }
}
