$side-menu-border: #000 !default;
.slide-menu {
  position: fixed;
  top: 0;
  left: -284px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  transition: all 300ms;
  background-color: #26262e;
  color: #fff;
  a {
    color: #fff;
    &:hover,
    :focus,
    :active,
    :visited {
      text-decoration: none;
      color: #fff;
    }
  }
  > ul {
    display: block;
    list-style: none;
    > li {
      padding: 8px 16px;
      font-size: 16px;
      > a > span {
        margin-left: 8px;
      }
    }
  }
  .avatar {
    margin: 56px auto 8px auto;
    width: 60px;
    height: 60px;
    > img,
    i {
      display: block;
      width: 60px;
      height: 60px;
      border: 1px solid #fdcb0e;
      border-radius: 60px;
    }
  }
  .account-summary {
    padding: 16px 0px;
    p {
      color: #d8d8d8;
      margin: 0px;
    }
  }
  .bottom-border-black {
    border-bottom: 1px solid $side-menu-border;
    @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      border: none;
      background-image: linear-gradient(0deg, $side-menu-border, $side-menu-border 50%, transparent 50%);
      background-position: bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;
    }
  }
  span.badge.gold {
    background-color: #fdcb0e;
  }
}

.menu-active {
  .slide-menu {
    left: 0px;
  }
  ul {
    left: 0px;
  }
}
