.xiaolu_activity {
  width: 100%;
  .activity-topTen-model-2 {
    &.bg-white {
      background-color: #fff;
    }
    > ul {
      > li {
        > div {
          border: 1px solid #e6e6e6;
        }
        padding: 0 8px;
        img {
          width: 100%;
        }
      }
    }
    > .coupon-list {
      padding: 0 16px;
    }
    .products-horizental-list {
      .actual-pice {
        color: #ff4848;
        font-size: 20px;
      }
      .original-price {
        font-size: 12px;
        padding-left: 4px;
      }
      .buy-immediately {
        padding: 6px 6px;
        background-color: #ff4848;
        color: #fff;
        margin-top: 8px;
        text-align: center;
      }
    }
    .products-vertical-list {
      img {
        padding: 8px;
      }
      .product-details {
        padding: 0 8px 8px 8px;
      }
      .actual-pice {
        color: #ff4848;
        font-size: 20px;
      }
      .original-price {
        font-size: 12px;
        padding-left: 4px;
      }
      .buy-immediately {
        padding-top: 4px;
        padding-bottom: 4px;
        background-color: #ff4848;
        color: #fff;
        text-align: center;
      }
    }
    .act-share {
      margin-bottom: 100px;
    }
  }
}

