.activity-topTen-model-2 {
  &.bg-white {
    background-color: #fff;
  }
  > ul {
    display: inline-block;
    -webkit-padding-start: 0px;
    > li {
      padding: 0 8px;
      img {
        width: 100%;
      }
    }
  }
  > .coupon-list {
    padding: 0 16px;
  }
  .products-horizental-list {
    > li > div {
      border: 1px solid #e6e6e6;
    }
    .actual-pice {
      color: #ff4848;
      font-size: 20px;
    }
    .original-price {
      font-size: 12px;
      padding-left: 4px;
    }
    .buy-immediately {
      padding: 6px 6px;
      background-color: #ff4848;
      color: #fff;
      margin-top: 8px;
      text-align: center;
    }
  }
  .products-vertical-list {
    > li > div {
      margin-top: 8px;
      border: 1px solid #e6e6e6;
    }
    img:nth-child(2n) {
      padding: 0 8px 8px 4px;
    }
    img:nth-child(2n+1) {
      padding: 0 4px 8px 8px;
    }
    .product-details:nth-child(2n) {
      padding: 0 8px 8px 12px;
    }
    .product-details:nth-child(2n+1) {
      padding: 0 4px 8px 12px;
    }
    .actual-pice {
      color: #ff4848;
      font-size: 20px;
    }
    .original-price {
      font-size: 12px;
      padding-left: 4px;
    }
    .buy-immediately {
      padding-top: 4px;
      padding-bottom: 4px;
      background-color: #ff4848;
      color: #fff;
      margin-top: 8px;
      text-align: center;
    }
  }
  .act-share {
    margin-bottom: 100px;
  }
}
