.buycoupon {

  .product-item{
    .coupon-img {
      padding-top: 16px;
      width: 100%;
      clear: both; 
      display: block;
      margin: auto;
    }

    .coupon-num {
      .cart-quantity {
        display: block;
        margin: auto;
          > i {
            padding: 16px;
            font-size: 1.5em;
          }
          > span {
            font-size: 1.5em;
          }
      }
    }

  }

  .empty-search {
    height: 100%;
    padding-top: 40px;
    padding-left: 16px;
    text-align: center;
  }
}
