$z-index-bar: 9 !default;
.bottom-bar-wrapper {
  .has-bottom-bar {
    margin-bottom: 43px;
  }
  > .bottom-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    height: 43px;
    padding: 8px;
    z-index: $z-index-bar;
  }
  &.bottom-bar-large {
    .has-bottom-bar {
      margin-bottom: 90px;
    }
    .bottom-bar {
      height: 90px;
    }
  }
  &.bottom-bar-medium {
    .has-bottom-bar {
      margin-bottom: 54px;
    }
    .bottom-bar {
      height: 54px;
    }
  }
}
