.activity-md {
  li {
    display: block;
  }
  .activity-product {
    > img {
      max-width: 100%;
      width: auto;
    }
    .product-tips {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      p {
        position: absolute;
        top: 34%;
        left: 36%;
        text-align: center;
        font-size: 10px;
        line-height: 55px;
        color: #fff;
        background-color: rgba(36, 91, 210, 0.5);
        height: 55px;
        width: 55px;
        border-radius: 55px;
      }
    }
  }
}

.activity-popup {
  > .popup-content {
    position: fixed;
    top: 10%;
    right: 0;
    left: 0;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    background: transparent;
  }
  > .popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
