.buycoupon {
  .coupon-img {
    padding-top: 16px;
    width: 60%;
    clear: both; 
    display: block;
    margin: auto;
  }

  .coupon-num {
    .cart-quantity {
      padding: 8px;
      display: block;
      margin: auto;
        > i {
          padding: 16px;
          font-size: 2em;
        }
        > span {
          font-size: 2em;
        }
    }
    .input-num {
      width: 18%;
      font-size: 1.5em;
      text-align: center;
    }
  }
}
