.buycoupon {
  .coupon-img {
    padding-top: 16px;
    width: 60%;
    clear: both; 
    display: block;
    margin: auto;
  }

  .coupon-num {
    .cart-quantity {
      padding: 8px;
      display: block;
      margin: auto;
        > i {
          padding: 16px;
          font-size: 2em;
        }
        > span {
          font-size: 2em;
        }
    }
    .input-num {
      width: 18%;
      font-size: 1.5em;
      text-align: center;
      border: none;
    }
  }

  .shop-cart {
    > div {
      position: relative;
      height: 36px;
      width: 36px;
      // background-color: #4a4a4a;
      border: 1px solid #faaa14;
      border-radius: 40px;
      padding: 2px;
      text-align: center;
      color: transparent;
      > i {
        font-size: 24px;
      }
      > .shop-cart-badge {
        position: absolute;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        top: -5px;
        left: 26px;
        height: 20px;
        width: 20px;
        color: #fff;
        border-radius: 16px;
        background-color: #FF3840;
      }
    }
    &:hover,
    :active,
    :focus,
    :visited {
      color: transparent;
      text-decoration: none !important;
    }
  }
}
