.favorite-container {
  .notification-item {
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    img {
      border-radius: 10px;
      width: 36px;
      overflow: hidden;
      height: 36px;
    }
    .time-created {
      padding-top: 4px;
    }
    textarea {
      resize: none;
      min-height: 80px;
    }
  }
}
